@model IEnumerable<SStest.Models.Products>


<style>
    .thumbnail {
        width: 300px;
        height: 400px;
        overflow: auto;
        margin: 10px;
    }

        .thumbnail img {
            height: 150px;
        }

        .thumbnail .productimg {
            height: 150px;
            width: 220px;
            overflow: hidden;
            margin: 0 auto;
        }
</style>

<div class="container">

    <div class="row">
        @foreach (var a in this.Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", new { id = a.Product_ID })">
                        <div class="productimg"><img src='@Url.Action("GetPhoto", "Product", new { id = a.Product_ID })'></div>
                    </a>

                    <div class="caption">
                        <h3>@a.ProductName</h3>
                        <p>@a.Description</p>
                        <p>售價 : @a.UnitPrice</p>
                        <p>庫存 : @a.Stock</p>
                        <p>
                            <a onclick="AddToCart('@a.Product_ID')" href="javascript:void(0);"
                               class="btn btn-primary" role="button">
                                加入購物車
                            </a>
                            <a href="@Url.Action("Details", new { id = a.Product_ID})" class="btn btn-primary" role="button">
                                詳細資訊
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>